 body {
            font-family: Arial;
            margin: 30px;
            background-color: #3775db;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    background-color: rgb(105, 98, 98);
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}