body {
    background-color: rgb(137, 137, 236);
}

p {
    text-align: center;
    font-size: 55px;
    color: rgb(255, 253, 253);
}

.nav1 a {
    text-align: left;
    border: 9px;
    color: rgb(255, 253, 253);
    font-size: 29px;
}

.nav1 img {
    height: 100px;
    width: 270px;
    float: left;
}

.nav2 img {
    height: 100px;
    width: 270px;
    float: right;
}

.nav3 img {
    height: 100px;
    width: 270px;
    float: left;
}

.nav4 img {
    height: 100px;
    width: 270px;
    float: right;
}

.nav5 {
    text-align: center;
    background-color: rgb(33, 33, 218);
    font-size: 50px;
    color: rgb(255, 253, 253);
}

.nav {
    background-color: blue;
    border: 50px;
    font-size: 100px;
    text-align: center;
}

a {
    color: rgb(204, 204, 204);
    font-size: 27px;
}

img {
    height: 100px;
    width: 100px;
    ;
}